extends layout

block content
	script
		include js/addGoal.js
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
		a.navbar-brand(href='/') Art of Leadership
		button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
			span(class="navbar-toggler-icon")
		div.collapse.navbar-collapse(id="navbarSupportedContent")
			ul.navbar-nav.ml-auto
				li
					a.nav-item.nav-link(href='/coachView') Home
				li
					a.nav-link.nav-item(href='/coachProfile_coach') Profile
				li
					a.nav-item.nav-link.active(href='/addGoal_coach') Add Goal
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="color: red" class="btn btn-sm",type="submit").signOut_button Sign Out
	form(method='POST', action='/coachView', id="goalForm")
		input(type="hidden" name="addCoachGoal" value="addCoachGoal")
		div.jumbotron
			h3 Add Recipient(s)
			div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
				div.card-header Available Executives
				div.card-body
					if clients.length == 0
						h6.text-danger(style="text-align:center") You must first invite a client to add and assign a goal
					else
						.form-group
							label(for="selRecip") To select multiple, hold command or shift (or drag with mouse)
							select.form-control(multiple size=clients.length id="selRecip" name="clientForm" required)
								each obj in clients
									var recipName = obj.fname + obj.lname;
									option(value=recipName) #{obj.fname} #{obj.lname}
		div.jumbotron
			h3 Frequency Reminder
			div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
				div.card-body
					form
						input(type='radio', name='frequency', value='4', checked='')
						|  None
						br
						input(type='radio', name='frequency', value='0')
						|  Daily
						br
						input(type='radio', name='frequency', value='1')
						|  Weekly
						br
						input(type='radio', name='frequency', value='2')
						|  Bi-Weekly
						br
						input(type='radio', name='frequency', value='3')
						|  Monthly
			div.jumbotron
				h3 Previous Goals
				div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
					div.card-body
						- var allGoals = [];
						- var goalCheck = true;
							each cli in clients2
								each goal in cli.goals_list
									each entry in allGoals
										if entry.valueOf() == goal.goal_title.valueOf()
											-goalCheck = false;
									if goalCheck
										br
										-var name = goal.goal_title;
										input.btn-primary(type='submit' value=name name="GoalButton")
										each question in goal.goal_questions
											p #{question.title}
										br
									-goalCheck = true;
									-allGoals.push(goal.goal_title);
			div.jumbotron#questionJumbotron
				h6 OR
				h3 Create New Goal
				div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
					div.card-body
						| Goal Title
					div.card-footer
						input(type='text', name='goalTitle')
					div.card-body
						| Goal Description
					div.card-footer
						input(type='text', name='goalDescription' size='125')
				div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
					div.card-body#questionCard
						| Choose Question Type
					div.jumbotron#questionDropdown(style="display:none")
					div.card-footer
						p Add Question
						input(class='btn btn-secondary btn-sm' type='button', value='Multiple Choice', onclick='mcDropdown()')
						input(class='btn btn-secondary btn-sm' type='button', value='Free Response', onclick='freeResponseDropdown()')
						input(class='btn btn-secondary btn-sm' type='button' value='Likert Scale' onclick='likertDropdown()')
			input.btn.btn-outline-primary.btn-lg(type="button", value="Add Goal" id="addGoalButton", onclick="checkGoal()")
