extends layout

block content
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
			a.navbar-brand(href='/') Art of Leadership
			button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
				span(class="navbar-toggler-icon")
			div.collapse.navbar-collapse(id="navbarSupportedContent")
				ul.navbar-nav.ml-auto
					li
						a.nav-item.nav-link(href='/executiveView') Home
					li
						a.nav-link.nav-item(href='/executiveProfile') Profile
					li
						a.nav-link.nav-item.active(href='/coachProfile_executive') Coach's Profile
					li
						a.nav-item.nav-link(href='/addGoal_executive') Add Goal
					li
						form(method='POST' action='/')
							input(type="hidden" name="signOut" value="signOut")
							button(style="color: red" class="btn btn-sm",type="submit").signOut_button Sign Out
		div.row.client-info
			div.col-md-1
			div.col-md-2
				img#profileImage(src=user.photograph)
			div.col-md-1
			div.col-md-6
				br
				h1 #{user.full_name}
				h3 EMAIL: #{user.user_email}
				h5 COACH ID: #{user.coach_id}
				p #{user.biography}
			div.col-md-1
			br
