extends layout

block content
	script
		include js/coachView.js
	script. 
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
		a.navbar-brand(href='/') Leadership as an Artform
		div.collapse.navbar-collapse#navbarColor02
			ul.navbar-nav.ml-auto
				li
					a.nav-item.nav-link.active(href='/coachView') Home
				li
					a.nav-link.nav-item(href='/coachProfile_coach') Profile
				li
					a.nav-item.nav-link(href='/addGoal_coach') Add Goal
				li
					a.nav-item.nav-link#signOut(href='/') Sign Out
	div.row.client_title
		script.
			var clients = !{JSON.stringify(clients)};
		h1 Clients. Welcome, #{user.first_name}
			form(method='GET' action='/coachView')
				button(class="btn btn-primary",type="submit").client_button Remind All
				button(class="btn btn-primary",type="button",data-toggle="modal", data-target="#addClientModal").client_button Add Client
		.modal(role="dialog", id="addClientModal")
			.modal-dialog-centered.custom_modal_dialog(role="document")
				.modal-content
					form(id = "form" method='POST' action='/coachView')
						.modal-header
							h5 Invite a Client
							button(class="close",data-dismiss="modal")
								span &times;
						.modal-body
							p Client Name:
								input(type="text" name="clientName")
							p Email Address:
								input(type="text" name="emailAddress")
							p Welcome Message:
								br
								input(type="textarea" name = "message")
						.modal-footer
							button.btn.btn-primary(type='submit') Submit
		div.row.jumbotron
			each obj in clients
				.col-md-1
				.col-md-2
					a(href='/executiveProfile_coach')
					img#clientImage(src='obj.photo')
				.col-md-2
					a(href="executiveProfile_coach")
						h3 #{obj.fname} #{obj.lname}
						p #{obj.email}
						p #{obj.bio}
				.col-md-1
					button(class="btn btn-sm",type="submit") Send Reminder
		.row
