extends layout

block content
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
		a.navbar-brand(href='/') Art of Leadership
		button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
			span(class="navbar-toggler-icon")
		div.collapse.navbar-collapse(id="navbarSupportedContent")
			ul.navbar-nav.ml-auto
				li
					a.nav-item.nav-link(href='/coachView') Home
				li
					a.nav-link.nav-item.active(href='/coachProfile_coach') Profile
				li
					a.nav-item.nav-link(href='/addGoal_coach') Add Goal
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="color: red" class="btn btn-sm",type="submit").signOut_button Sign Out
	div.row.client-info
		div.col-md-1
		div.col-md-2
			img#profileImage(src=user.photograph)
		div.col-md-2
		div.col-md-5
			br
			h1 #{user.full_name}
			h5 Coach ID: #{user.coach_id}
			h5 EMAIL: #{user.user_email}
			p #{user.biography}
			form(method='GET' action='/coachProfile_coach')
				input(type="hidden" name="remindAll" value="remindAll")
				button(class="btn btn-outline-primary",type="submit", style="padding:5px;border-radius: 4px;") Remind All
				button(class="btn btn-outline-primary",type="button",data-toggle="modal", data-target="#addClientModal", style="padding:5px;border-radius: 4px;").client_button Add Client
			.modal(role="dialog", id="addClientModal")
				.modal-dialog-centered.custom_modal_dialog(role="document")
					.modal-content
						form(id = "form" method='POST' action='/coachView')
							.modal-header
								h5 Invite a Client
								button(class="close",data-dismiss="modal")
									span &times;
							.modal-body
								p Client Name:
									br
									input(type="text" name="clientName")
								p Email Address:
									br
									input(type="text" name="emailAddress")
								p Welcome Message:
									br
									input(type="textarea" name = "message" style="height:200px" size="85")
							.modal-footer
								button.btn.btn-primary(type='submit') Submit
		div.col-md-1
			button(class="btn badge badge-info badge-pill",type="button",data-toggle="modal", data-target="#editProfileModal").client_button Edit Profile
		.modal(role="dialog", id="editProfileModal")
			.modal-dialog-centered.custom_modal_dialog(role="document")
				.modal-content
					form(id = "form" method='POST' , name="editProfileForm",action='/coachProfile_coach', enctype="multipart/form-data")
						.modal-header
							h5 Edit Profile
							button(class="close",data-dismiss="modal")
								span &times;
						.modal-body
							p First Name:
								br
								input(type="text" name="newFName" placeholder=user.first_name)
							p Last Name:
								br
								input(type="text" name="newLName" placeholder=user.last_name)
							p Email Address:
								br
								input(type="text" name="newEmail" size="30" placeholder=user.user_email)
							p Short Biography
								br
								input(type="textarea" name="newBio" style="height:150px" size="60" placeholder=user.biography)
							p Photo
								br
								input#image.form-control(type='file' name='image' accept='image/*')
						.modal-footer
							button.btn.badge.badge-pill.badge-info(type='submit') Update


	br
	br
	div.client-info
		h3 Clients
		div.row.jumbotron
				if clients.length == 0
					.col-md-4.col-sm-4
					h5.text-danger(style="text-align:center") You have no clients yet
				each obj in clients
					-var emailAddress = obj.email
					.col-md-2.col-sm-2
						img#clientImage(src=obj.photo)
					.col-md-2.col-sm-2
						h3 #{obj.fname} #{obj.lname}
						p #{obj.email}
						p #{obj.bio}
						br
						br
						br
					.col-md-2.col-sm-2
						form(method='POST' action='/coachView')
							input(type="hidden" name="emailReminder" value=emailAddress)
							button(class="btn btn-sm",type="submit") Send Reminder
						form(method='POST' action='/executiveProfile_coach')
							input(type="hidden" name="profileClick" value=emailAddress)
							button(class="btn btn-sm",type="submit") View Profile
		.row
