extends layout

block content
	include mixins/print_goal_coach.pug
	head 
		title Art of Leadership
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='assets/css/mainProfile.css')
		link(rel='stylesheet' href='assets/css/executiveProfile_coach.css')
	body 
		script(src='assets/js/jquery.min.js')
		script(src='assets/js/jquery.scrollex.min.js')
		script(src='assets/js/skel.min.js')
		script(src='assets/js/util.js')
		script(src='assets/js/main.js')
		header#header 
			.logo
				a(href='/') Leadership
					span  as an Artform
			span 
			a(href='#menu') Menu
		nav#menu
			ul.links
				li
					a(href='/executiveView') Home
				li
					a(href='/executiveProfile') Profile
				li
					a(href='/addGoal_executive') Goal
				li
					a(href='/coachProfile_executive') Coach
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="background-color: red; color: white !important; float:right;",type="submit").signOut_button Sign Out
		section#One.wrapper.style3
			.inner
				header.align-center
					p Art of Leadership
					h2 Coach Profile

		div.row.client-info
			div.col-md-1
			div.col-md-2
				img#profileImage(src=user.photograph)
			div.col-md-1
			div.col-md-6
				br
				h1 #{user.full_name}
				h3 EMAIL: #{user.user_email}
				h5 COACH ID: #{user.coach_id}
				p #{user.biography}
			div.col-md-1
			br

		br
		br
		br
		br
		br
		br
		br
		br
		br
		footer#footer
			div(class = "copyright")
				|By Leadership as an Artform
