extends layout

block content
	script
		include js/autoLogout.js
		include js/coachView.js
	script.
	head
		title Art of Leadership
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='assets/css/mainProfile.css')
	body.subpage
		script(src='assets/js/jquery.min.js')
		script(src='assets/js/jquery.scrollex.min.js')
		script(src='assets/js/skel.min.js')
		script(src='assets/js/util.js')
		script(src='assets/js/main.js')
		header#header
			.logo
				a(href='/') Leadership
					span  as an Artform
			span 
			a(href='#menu') Menu
		nav#menu
			ul.links
				li
					a(href='/coachView') Home
				li
					a(href='/coachProfile_coach') Profile
				li
					a(href='/addGoal_coach') Goal
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="background-color: red; color: white !important; float:right;",type="submit").signOut_button Sign Out
		section#One.wrapper.style3
			.inner
				header.align-center
					p Art of Leadership
					h2 Home
		#main.container
			h2#elements Welcome, Coach #{user.first_name}
			br
			br
			div(class='row 200%')
				div.row.client_title
					script
						var clients = !{JSON.stringify(clients)};
				div(class="6u 12u$(medium)")
					
					h2 Progress Approval Requests:
					div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
						- var noApprovals = "true";
						.card-body
							each obj in clients
								each goal in obj.goals_list
									div(style="width:100%")
										br
										br
									div(style="width:100%; background-color:#EEE; border-radius: 20px; padding-left: 20px;padding-right: 20px;padding-bottom:30px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;")
										if goal.progress_acceptance != goal.progress
										- noApprovals = "false";
										div.row(style="display: inline; width: 100%;")
											div
												img#clientImage(src=obj.photo , style="width: 70px;  ") 
											div
												h2(style="") #{obj.fname} #{obj.lname}
										p(style="position:relative; left:25px;padding-right:20px;")  Requests #{goal.goal_title} to move from progress level #{goal.progress} to #{goal.progress_update}
										form(method='POST' action='/viewGoal_coach')
											input(type="hidden" name="goal_id" value=goal.id)
											button.special.icon.fa-search(style="float:left; bottom:20px;" type="submit") Details
										form(method='POST' action='/coachView')
											button.special.icon.fa-check(style="float:right; bottom:20px;" type="submit") Accept
											input(type="hidden" name="acceptRequest" value=goal.goal_id)
						if noApprovals == "true"
							h3.text-danger(style="text-align:center") No pending approvals
				div(class="6u 12u$(medium)")
					h2 Invite a Client:
					br
					br
					.modal(role="dialog", id="addClientModal", style="padding: 30px; background-color:#EEE; border-radius: 20px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;")
						.modal-dialog-centered.custom_modal_dialog(role="document")
							.modal-content
								form(id = "form" method='POST' action='/coachView')
									.modal-header
									.modal-body
										p Client Name:
											br
											input(type="text" name="clientName")
									p Email Address:
										br
										input(type="text" name="emailAddress")
									p Welcome Message:
										br
										input(type="text" name = "message" style="height:100px; width:100%" )
									.modal-footer
										button.special.icon(type='submit') Submit
		br
		br
		br
		footer#footer
			.copyright
				| &copy; Leadership as an artform. All rights reserved.					
