extends layout

block content
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
		a.navbar-brand(href='/') Leadership as an Artform
		div.collapse.navbar-collapse#navbarColor02
			ul.navbar-nav.ml-auto
				li
					a.nav-item.nav-link(href='/coachView') Home
				li
					a.nav-link.nav-item.active(href='/coachProfile_coach') Profile
				li
					a.nav-item.nav-link(href='/addGoal_coach') Add Goal
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="color: red" class="btn btn-sm",type="submit").signOut_button Sign Out
	div.row
		div.col-md-1
		div.col-md-2
			img#profileImage(src='#{user.photograph}')
		div.col-md-1
		div.col-md-6
			br
			h1 #{user.full_name}
			h3 #{user.user_email}
			h5 #{user.biography}
		div.col-md-1
		br
	div.row
		h1 Clients
			form(method='GET' action='/coachProfile_coach')
				input(type="hidden" name="remindAll" value="remindAll")
				button(class="btn btn-primary",type="submit").client_button Remind All
				button(class="btn btn-primary",type="button",data-toggle="modal", data-target="#addClientModal").client_button Add Client
		.modal(role="dialog", id="addClientModal")
			.modal-dialog-centered.custom_modal_dialog(role="document")
				.modal-content
					form(id = "form" method='POST' action='/coachView')
						.modal-header
							h5 Invite a Client
							button(class="close",data-dismiss="modal")
								span &times;
						.modal-body
							p Client Name:
								input(type="text" name="clientName")
							p Email Address:
								input(type="text" name="emailAddress")
							p Welcome Message:
								br
								input(type="textarea" name = "message")
						.modal-footer
							button.btn.btn-primary(type='submit') Submit
	div.row.jumbotron
		each obj in clients
			.col-md-1
			.col-md-2
				img#clientImage(src='obj.photo')
			.col-md-2
				h3 #{obj.fname} #{obj.lname}
				p #{obj.email}
				p #{obj.bio}
				br
				br
				br
			.col-md-1
				form(method='POST' action='/coachView')
					-var emailAddress = obj.email
					input(type="hidden" name="emailReminder" value=emailAddress)
					button(class="btn btn-sm",type="submit") Send Reminder
				form(method='POST' action='/executiveProfile_coach')
					-var emailAddress = obj.email
					input(type="hidden" name="profileClick" value=emailAddress)
					button(class="btn btn-sm",type="submit") View Profile
	.row
