extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='/') Leadership as an Artform
    div.collapse.navbar-collapse#navbarColor02
      ul.navbar-nav.ml-auto
        li
          a.nav-item.nav-link(href='/executiveView') Home
        li
          a.nav-link.nav-item(href='/executiveProfile') Profile
        li
          a.nav-link.nav-item(href='/coachProfile_executive') Coach's Profile
        li
          a.nav-item.nav-link(href='/addGoal_executive') Add Goal
        li
          a.nav-item.nav-link#signOut(href='/') Sign Out
  .row
    .col-md-2
    .col-md-8
      br
      form(method='POST', action='/viewGoal_executive')
        input(type='hidden' name='isEditGoalExec' value='yes')
        input(type='hidden' name='goalID' value=goal.id)
        - var mcQuestionCount = 0;
        h1 #{goal.goal_title}
        .progress
          div.progress-bar.bg-warning(role='progressbar' style='width:5%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        each question,index in goal.goal_questions
          h5 #{question.question_title}
          - var mcOptionCount = 1;
          - var frResponseCount = 0;
          - var mcQuestionName
          if question.question_type == 0
            - mcQuestionCount++
            - mcQuestionName = 'mcQuestion' + index
            - var qs = question.question_qs.split(',')
            each q in qs
              if q != ' '
                .form-group
                  .form-check
                    .label
                        input(type='radio', value=mcOptionCount, name=mcQuestionName)
                        |   #{q}
                        -
                          mcOptionCount++
                br
          if question.question_type == 1
            .form-group
              input.form-control(type='textarea' id="frAnswer" name="frResponse")
          if question.question_type == 2
            - var qs = question.question_qs.split(',')
              .form-group
                .form-check
                  .label
                    input(type='radio', value='1', name='likert')
                    |   #{qs[0]}
                  .label
                    input(type='radio', value='2', name='likert')
                    |
                  .label
                    input(type='radio', value='3', name='likert')
                    |
                  .label
                    input(type='radio', value='4', name='likert')
                    |
                  .label
                    input(type='radio', value='5', name='likert')
                    |   #{qs[1]}
          br
        input(type='hidden' name="mcQuestionCount" value=mcQuestionCount)
        input.btn.btn-outline-primary.btn-lg(type="submit" value="Submit" id="editGoalButton")
  .col-md-2
