extends layout

block content
	script
		include js/coachView.js
		include mixins/print_goal.pug
	script.
	
	head
		title Art of Leadership
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='assets/css/mainProfile.css')
	body.subpage
		script(src='assets/js/jquery.min.js')
		script(src='assets/js/jquery.scrollex.min.js')
		script(src='assets/js/skel.min.js')
		script(src='assets/js/util.js')
		script(src='assets/js/main.js')
		header#header
			.logo
				a(href='/') Leadership
					span  as an Artform
			span 
			a(href='#menu') Menu
		nav#menu
			ul.links
				li
					a(href='/executiveView') Home
				li
					a(href='/executiveProfile') Profile
				li
					a(href='/addGoal_executive') Goal
				li
					a(href='/coachProfile_executive') Coach
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="background-color: red; color: white !important; float:right;",type="submit").signOut_button Sign Out	
		section#One.wrapper.style3
			.inner
				header.align-center
					p Art of Leadership
					h2 Profile
					
		#main.container
			.row(style="width:100%;")
				div(class="6u 12u$(medium)")
					img#profileImage(src=user.photo style="display: block; margin-left: auto; margin-right: auto;width: 200px;")
					br
					div(style="display: flex;justify-content: center;align-items: center;")
						//button.special(type="button",data-toggle="modal", data-target="#editProfileModal", style="").client_button Edit
					br
					br
					h2(style="text-align: center;")  #{user.fname} #{user.lname}
					h2(style="text-align: center;")  EMAIL: #{user.email}
					p(style="text-align: center;")  #{user.bio}
				div(class="6u 12u$(medium)")
					h2 Completed Goals
					div
						if pastGoals.length != 0
							each pastGoal in pastGoals
								+print_goal(pastGoal)
						else
							h4.text-danger(style="text-align:center") There are no completed goals
		br
		br
		footer#footer
			div(class = "copyright")
				|By Leadership as an Artform

	