extends layout

block content
	head
		title Art of Leadership
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='assets/css/mainProfile.css')
	body.subpage
		script(src='assets/js/jquery.min.js')
		script(src='assets/js/jquery.scrollex.min.js')
		script(src='assets/js/skel.min.js')
		script(src='assets/js/util.js')
		script(src='assets/js/main.js')
		header#header
			.logo
				a(href='/') Art of Leadership
			span 
			a(href='#menu') Menu
		nav#menu
			ul.links
				li
					a(href='/executiveView') Home
				li
					a(href='/executiveProfile') Profile
				li
					a(href='/addGoal_executive') Goal
				li
					a(href='/coachProfile_executive') Coach
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="background-color: red; color: white !important; float:right;",type="submit").signOut_button Sign Out	
		section#One.wrapper.style3
			.inner
				header.align-center
					p Art of Leadership
					h2 Profile
		include mixins/print_goal.pug			
		#main.container
			.row(style="width:100%;")
				div(class="6u 12u$(medium)")
					img#profileImage(src=user.photograph style="display: block; margin-left: auto; margin-right: auto;width: 200px;")
					br
					div(style="display: flex;justify-content: center;align-items: center;")
						button.special(type="button",data-toggle="modal", data-target="#editProfileModal", style="").client_button Edit
					br
					br
					h2(style="text-align: center;")  #{user.name}
					h2(style="text-align: center;")  EMAIL: #{user.username}
					p(style="text-align: center;")  #{user.bio_info}
				div(class="6u 12u$(medium)")
					h2 Completed Goals
					div
						if pastGoals.length != 0
							each pastGoal in pastGoals
								+print_goal(pastGoal)
						else
							h4.text-danger(style="text-align:center") There are no completed goals
		br
		br
		footer#footer
			div(class = "copyright")
				|By Leadership as an Artform
	
		

		.row
	div.client-info
	
	div.col-md-1
	.modal(role="dialog", id="editProfileModal",style="display: none;width:900px; position: fixed; float: center;right: 5%;bottom: 10%;z-index: 1 !important;background: #DDD; border-radius: 10px;")
			.modal-dialog-centered.custom_modal_dialog(role="document", style="padding-left:30px;padding-right: 0px; padding-top: 10px; z-index: 1;")
				.modal-content
					form(id = "form" method='POST' , name="editProfileForm",action='/coachProfile_coach', enctype="multipart/form-data")
						.modal-header
							h2 Edit Profile
						.modal-body(style="width:100%; height:100%; display: flex;")
							div(style="width:40%;")
								p First Name:
									br
									input(type="text" name="newFName" placeholder=user.first_name)
								p Last Name:
									br
									input(type="text" name="newLName" placeholder=user.last_name)
								p Email Address:
									br
									input(type="text" name="newEmail" size="30" placeholder=user.user_email)
							div(style="width:10%;")
							div(style="width:50%;")
							
								p Short Biography
									br
									input(type="textarea" name="newBio" style="height:150px" size="50" placeholder=user.biography)
								p Photo
									br
									input#image.form-control(type='file' name='image' accept='image/*')
						.modal-footer
							button.special(type='submit') Update
							button(data-dismiss="modal" style="position:absolute; left: 85%;") Cancel
		
