extends layout

block content
	include mixins/print_goal_coach.pug
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
		a.navbar-brand(href='/') Art of Leadership
		button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
			span(class="navbar-toggler-icon")
		div.collapse.navbar-collapse(id="navbarSupportedContent")
			ul.navbar-nav.ml-auto
				li
					a.nav-item.nav-link(href='/coachView') Home
				li
					a.nav-link.nav-item(href='/coachProfile_coach') Profile
				li
					a.nav-item.nav-link(href='/addGoal_coach') Add Goal
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="color: red" class="btn btn-sm",type="submit").signOut_button Sign Out
	div.row.client-info
		div.col-md-1
		div.col-md-2
			img#profileImage(src=user.photograph)
		div.col-md-1
		div.col-md-6
			br
			h1 #{user.name}
			h6 email: #{user.username}
			-var username = user.username
			input(type="hidden" name="profileClick" value=username)
			p #{user.bio_info}
			br
			button.btn-btn-block.btn-info(type='button' data-toggle="modal" data-target="#addNoteModal" style="background-color:black; border: none;border-radius: 4px;") Add Note
			.modal(role="dialog", id="addNoteModal")
				.modal-dialog-centered.custom_modal_dialog(role="document")
					.modal-content
						form(id = "form" method='POST' action='/executiveProfile_coach')
							.modal-header
								h5 Add Note
								button.close(type='button' data-dismiss="modal")
									span &times;
							.modal-body
									input(type="text" name="noteContent" size="75px")
									input(type="hidden" name="currExecID" value=user.execID)
									input(type="hidden" name="profileClick" value=username)
							.modal-footer
								button.btn.btn-primary(type='submit') Submit
			button.btn-btn-block.btn-info(type='button' data-toggle="modal" data-target="#sendMessageModal" style="background-color:black; border: none;border-radius: 4px; position: relative;left: 20px") Send Message
			.modal(role="dialog", id="sendMessageModal")
				.modal-dialog-centered.custom_modal_dialog(role="document")
					.modal-content
						form(id = "form" method='POST' action='/executiveProfile_coach')
							.modal-header
								h5 Send Message to #{user.name}
								button.close(type='button' data-dismiss="modal")
									span &times;
							.modal-body
								p Message:
									-var emailAddress = user.username
									input(type="text" name="clientMessage" style="height=200px" size="80")
									input(type="hidden" name="messageClient" value=emailAddress)
									input(type="hidden" name="profileClick" value=username)
									input(type="hidden" name="sendMessage" value="sendMessage")
							.modal-footer
								button.btn.btn-primary(type='submit') Submit
			
		div.col-md-2


		br
	div.row.client-info
		div.col-md-4
		div.col-md-4
			

	br
	div.card.border-dark.client-info
		.card-header
			h3 Notes
		.card-body
			each note in notes
				- var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
				- var dateFormat = note.note_date.toLocaleDateString("en-US", options);
				h6 #{dateFormat}
				p #{note.note_content}
	br
	div.jumbotron.client-info
		h3 Current Goals
		if user.exec_goals.length == 0
			h4.text-danger(style="text-align:center") There are no current goals
		else
			each goal in user.exec_goals
				if goal.goal_progress < 100
					+print_goal_coach(goal)


	div.jumbotron.client-info
		h3 Completed Goals
		if pastGoals.length != 0
			each pastGoal in pastGoals
				+print_goal_coach(pastGoal)
		else
			h4.text-danger(style="text-align:center") There are no completed goals
