extends layout

block content
	script
		include js/autoLogout.js
		include js/coachView.js
	script.
	head
		title Art of Leadership
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='assets/css/mainProfile.css')
	body.subpage
		script(src='assets/js/jquery.min.js')
		script(src='assets/js/jquery.scrollex.min.js')
		script(src='assets/js/skel.min.js')
		script(src='assets/js/util.js')
		script(src='assets/js/main.js')
		header#header
			.logo
				a(href='/') Leadership
					span  as an Artform
			span 
			a(href='#menu') Menu
		nav#menu
			ul.links
				li
					a(href='/executiveView') Home
				li
					a(href='/executiveProfile') Profile
				li
					a(href='/addGoal_executive') Goal
				li
					a(href='/coachProfile_executive') Coach
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="background-color: red; color: white !important; float:right;",type="submit").signOut_button Sign Out
		section#One.wrapper.style3
			.inner
				header.align-center
					p Art of Leadership
					h2 Goal Details
		#main.container
			h2 #{goal.goal_title}
			p Goal Descirption: #{goal.goal_description}
			.row(style="width:100%;")
				
				
				div(class="6u 12u$(medium)")
					h2 Update Progress
					div(style="width:100%; background-color: #EEE; padding: 20px;position: relative; left: 0px; border-radius: 20px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;")
						div
							form(id = "progressForm" method='POST' action='/viewGoal_executive')
								
								p Please enter a number 1-100:
								input(type="number" name="progress" min="1" max="100")
								input(type="hidden" name="goal_id" value=goal.id)
								input(type="hidden" name="update_progress" value=goal.id)
						div
							button.special(type='submit') Submit
							
				div(class="6u 12u$(medium)")
					h2 Previous Responses
					div.jumbotron
						script.
							function updateResponse(val) {
								console.log(val);
								document.getElementById('dropdownMenuButton').innerHTML = document.getElementById('val' + val).innerHTML;
								var x = !{JSON.stringify(goal.goal_responses)}
								var goal_questions = !{JSON.stringify(goal.goal_questions)}
								console.log(goal_questions);
								console.log(goal_questions.length)
								var currResponse = x[val];
								console.log(currResponse);
								for (var i=0; i<goal_questions.length; i++) {
									document.getElementById('q' + i).innerHTML = "<h3>" + goal_questions[i].title + "</h3><p> Answer: " + currResponse.responses[i].answer + "</p>";
								}

							};
						if (goal.goal_responses.length == 0)
							p No Responses Yet.
						else
							div(style="width:100%; background-color: #EEE; padding-left: 20px;position: relative; left: 0px; border-radius: 20px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;")
								div
									each r,index in goal.goal_responses
										div(style="width:100%; background-color: #EEE; padding-left: 20px;position: relative; left: 0px; border-radius: 20px;box-shadow: 3px 3px #DDD;")
											
											p(style="color: #BBB;") #{formatDate(r.date)}
											each a,index2 in goal.goal_questions
												h4 Question: #{a.question_title}
												p Answer: #{r.answers_array[index2].response_answer}
								- function formatDate(date) {
								- var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
								- var day = date.getDate();
								- var month = date.getMonth();
								- var year = date.getFullYear();
								- return monthNames[month] + ' ' + day + ', ' + year; }
								
					form(method='POST' action='/editGoal_executive')
							input(type="hidden" name="isViewGoal" value="yes")
							input(type="hidden" name="goal_id" value=goal.id)
							button.special(type="submit" style="float:center") New Response
		br
		br
		br
		footer#footer
			.copyright
				| &copy; Leadership as an artform. All rights reserved.