extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='/') Leadership as an Artform
    div.collapse.navbar-collapse#navbarColor02
      ul.navbar-nav.ml-auto
        li
          a.nav-item.nav-link(href='/executiveView') Home
        li
          a.nav-link.nav-item(href='/executiveProfile') Profile
        li
          a.nav-link.nav-item(href='/coachProfile_executive') Coach's Profile
        li
          a.nav-item.nav-link(href='/addGoal_executive') Add Goal
        li
          form(method='POST' action='/')
            input(type="hidden" name="signOut" value="signOut")
  div.jumbotron
    .row
      div.col-md-6.goal-info
        h2 Goal: #{goal.goal_title}
          h3 Description: #{goal.goal_description}
      div.col-md-6.write-response
        form(method='POST' action='/editGoal_executive')
          input(type="hidden" name="isViewGoal" value="yes")
          input(type="hidden" name="goal_id" value=goal.id)
          button.btn.btn-secondary(type="submit", style="float: right;") Fill Out New Response
    .row
      div.col-md-6
      div.col-md-6
        button.btn.btn-secondary(type="button" style="float: right"  data-toggle="modal" data-target="#updateProgressModal") Update Progress
        .modal(role="dialog", id="updateProgressModal")
          .modal-dialog-centered.custom_modal_dialog(role="document")
            .modal-content
              form(id = "progressForm" method='POST' action='/viewGoal_executive')
                .modal-header
                  h5 Update Progress
                  br
                  p Please enter a number 1-100:
                  button.close(type='button' data-dismiss="modal")
                    span &times;
                .modal-body
                    input(type="number" name="progress" min="1" max="100")
                    input(type="hidden" name="goalID" value=goal.id)
                .modal-footer
                  button.btn.btn-primary(type='submit') Submit

    .row
      -var progress = 'width: ' + goal.goal_progress + '%'; 
      div.progress.progress-bar.bg-warning(role='progressbar' style=progress aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
  div.jumbotron
    script.
      function updateResponse(val) {
        console.log(val);
        document.getElementById('dropdownMenuButton').innerHTML = document.getElementById('val' + val).innerHTML;
         var x = !{JSON.stringify(goal.goal_responses)}
         var goal_questions = !{JSON.stringify(goal.goal_questions)}
         console.log(goal_questions);
         console.log(goal_questions.length)
         var currResponse = x[val];
         console.log(currResponse);
         for (var i=0; i<goal_questions.length; i++) {
            document.getElementById('q' + i).innerHTML = "<h3>" + goal_questions[i].title + "</h3><p> Answer: " + currResponse.responses[i].answer + "</p>";
         }

      };
    if (goal.goal_responses.length == 0)
      p No Responses Yet.
    else
      div.dropdown(style='float: left')
        button.btn.btn-secondary.dropdown-toggle(type="button", data-toggle="dropdown", id="dropdownMenuButton", aria-haspopup="true", aria-expanded="false") #{formatDate(goal.goal_responses[0].date)}
        div.dropdown-menu(aria-labelledby="dropdownMenuButton")
          each r,index in goal.goal_responses
            a(href="javascript:updateResponse(" + index + ")").dropdown-item(id="val" + index ) #{formatDate(r.date)}
        - function formatDate(date) {
          - var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
          - var day = date.getDate();
          - var month = date.getMonth();
          - var year = date.getFullYear();
          - return monthNames[month] + ' ' + day + ', ' + year; }
      each q, index in goal.goal_questions
        div.jumbotron(id='q' + index)
          h3 #{q.question_title}
          p Answer: #{currResponse.answers_array[index].response_answer}
