mixin print_goal(goal)
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' type='text/css')
  link(rel='stylesheet' href='assets/css/mainProfile.css')
  while goal.goal_due_date < Date.now()
    - var new_date = new Date(goal.goal_due_date.getTime() + 604800000)
    - goal.goal_due_date = new_date
  div.card.text-black.bg-primary-mb-3(style='max-width:120rem')
    h2 #{goal.goal_title}
    div.card-header Update Due: #{formatDate(goal.goal_due_date)}
    div.card-body
      div.goal_info.row
        div.goal_data.col-md-6
          p #{goal.goal_description}
        div.form_view_goal.col-md-6
          form(method="POST", action="/viewGoal_executive")
            input(type="hidden" name="goal_id" value=goal.id)
            button.special(class="icon fa-search" , type='submit', style="margin-left:75px") DETAILS
      div.progress.row(style="width: 100%; position: relative; left: 30px;")
        -var progress = 'width: ' + goal.goal_progress + '%';
        if goal.goal_progress == 100
          div(class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style=progress) #{goal.goal_progress}%
        else
          div(class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style=progress) #{goal.goal_progress}%
  - function formatDate(date) {
  -   var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  -   var day = date.getDate();
  -   var month = date.getMonth();
  -   var year = date.getFullYear();
  -   return monthNames[month] + ' ' + day + ', ' + year; }
  br
